`PART 1: Data Cleaning`
--------------------------------------------
# Machine learning model that can accurately predict if a borrower will pay 


# off their loan on time or not?
---------------------------------------------------------------------------------

[Lending Club](https://www.lendingclub.com/info/download-data.action) releases data for all of the approved and declined loan applications periodically on their website. We have dataset for years from 2007 to 2011. **Data dictionary** can be found on this [google drive](https://docs.google.com/spreadsheets/d/191B2yJ4H1ZPXq0_ByhUgWMFZOYem5jFz0Y3by_7YBY4/edit). The dataset is attached in this repository.

**PROBLEM STATEMENT** : `Can we build a machine learning model that can accurately predict if a borrower will pay off their loan on time or not?`


-------------------------------------------------------------

## Exploring Dataset:
------------------------------------------------

In [5]:
import pandas as pd
loans_2007 = pd.read_csv("loans_2007.csv",skiprows=1, low_memory=False)
#dropping columns with more than 50% missing values
half_count = len(loans_2007)/2
loans_2007 = loans_2007.dropna(thresh=half_count,axis=1)
#dropping desc column as it contains description for loan
#loans_2007 = loans_2007.drop(['desc'],axis=1)
loans_2007.to_csv('loans_2007.csv',index=False)

In [6]:
#using cleaned dataset from outside resources
loans_2007 = pd.read_csv("loans_2007_t.csv", low_memory=False)

In [7]:
pd.options.display.max_columns=90
loans_2007.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [8]:
loans_2007.shape[1]

52

In [9]:
loans_2007.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

------------------------
We can see there are 52 number of columns and we need to analyse all. But we also know that not all the column values are important for analysis. So to analyse them we will analyse them in a group of 18 columns. Also we need to handle columns which:
* can **leak** information, any about future or target variable
* do not affect borrower's ability to payback loan(like id)
* poorly formatted columns which may needed to be cleaned
* require a lot of processing
* contains redundant information

In [10]:
loans_2007.columns[:19]

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose'],
      dtype='object')

#### First 18 column detail:

column name|detail
---------------|------------
'id'| A unique LC assigned ID for the loan listing.
'member_id'| A unique LC assigned Id for the borrower member.
'loan_amnt'| The listed amount of the loan applied for by the borrower
'funded_amnt'| The total amount committed to that loan at that point in time.
'funded_amnt_inv'|The total amount committed by investors for that loan at that point in time.
'term'| The number of payments on the loan. Values are in months and can be either 36 or 60.
'int_rate'| Interest Rate on the loan
'installment'| The monthly payment owed by the borrower if the loan originates.
'grade'| LC assigned loan grade
'sub_grade'| LC assigned loan subgrade
'emp_title'|The job title supplied by the Borrower when applying for the loan
'emp_length'| Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
'home_ownership'| The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER
'annual_inc'| The self-reported annual income provided by the borrower during registration
'verification_status'|Indicates if income was verified by LC, not verified, or if the income source was verified
'issue_d'| The month which the loan was funded
'loan_status'| Current status of the loan
'pymnt_plan'|Indicates if a payment plan has been put in place for the loan
'purpose'|A category provided by the borrower for the loan request.

From above 19 columns we can **remove** *id, member_id, funded_amnt, funded_amnt_inv, grade, sub_grade, emp_title, issue_d*

* **id**: randomly generated field by Lending Club for unique identification purposes only
* **member_id**: also a randomly generated field by Lending Club for unique identification purposes only
* **funded_amnt**: leaks data from the future (after the loan is already started to be funded)
* **funded_amnt_inv**: also leaks data from the future (after the loan is already started to be funded)
* **grade**: contains redundant information as the interest rate column (int_rate)
* **sub_grade**: also contains redundant information as the interest rate column (int_rate)
* **emp_title**: requires other data and a lot of processing to potentially be useful
* **issue_d**: leaks data from the future (after the loan is already completed funded)

In [11]:
loans_2007 = loans_2007.drop(['id','member_id','funded_amnt','funded_amnt_inv','grade','sub_grade','emp_title','issue_d'],axis=1)

In [12]:
loans_2007.shape

(42538, 44)

#### Next set of columns:

column name|detail
---|-----------------
title|The loan title provided by the borrower
zip_code|The first 3 numbers of the zip code provided by the borrower in the loan application.
addr_state|The state provided by the borrower in the loan application
dti|A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
delinq_2yrs|The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
earliest_cr_line|The month the borrower's earliest reported credit line was opened
inq_last_6mths|The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
open_acc|The number of open credit lines in the borrower's credit file.
pub_rec|Number of derogatory public records
revol_bal|Total credit revolving balance
revol_util|Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
total_acc|The total number of credit lines currently in the borrower's credit file
initial_list_status|The initial listing status of the loan. Possible values are – W, F
out_prncp|Remaining outstanding principal for total amount funded
out_prncp_inv|Remaining outstanding principal for portion of total amount funded by investors
total_pymnt|Payments received to date for total amount funded
total_pymnt_inv|Payments received to date for portion of total amount funded by investors
total_rec_prncp|Principal received to date

From above columns the columns we need to drop are:
* **zip_code**: redundant with the addr_state column since only the first 3 digits of the 5 digit zip code are visible (which only can be used to identify the state the borrower lives in)
* **out_prncp**: leaks data from the future, (after the loan already started to be paid off)
* **out_prncp_inv**: also leaks data from the future, (after the loan already started to be paid off)
* **total_pymnt**: also leaks data from the future, (after the loan already started to be paid off)
* **total_pymnt_inv**: also leaks data from the future, (after the loan already started to be paid off)
* **total_rec_prncp**: also leaks data from the future, (after the loan already started to be paid off)

In [13]:
loans_2007 = loans_2007.drop(['zip_code','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp'],axis=1)

In [14]:
loans_2007.shape

(42538, 38)

#### Last set of columns:
column name | description
----------|--------------------
total_rec_int|Interest received to date
total_rec_late_fee|Late fees received to date
recoveries|post charge off gross recovery
collection_recovery_fee|post charge off collection fee
last_pymnt_d|Last month payment was received
last_pymnt_amnt|Last total payment amount received
last_credit_pull_d|The most recent month LC pulled credit for this loan
collections_12_mths_ex_med|Number of collections in 12 months excluding medical collections
policy_code|publicly available policy_code=1 new products not publicly available policy_code=2
application_type|Indicates whether the loan is an individual application or a joint application with two co-borrowers
acc_now_delinq|The number of accounts on which the borrower is now delinquent.
chargeoff_within_12_mths|Number of charge-offs within 12 months
delinq_amnt|The past-due amount owed for the accounts on which the borrower is now delinquent.
pub_rec_bankruptcies|Number of public record bankruptcies
tax_liens|Number of tax liens

From above list of columns, we need to drop the below columns:
* **total_rec_int**: leaks data from the future, (after the loan already started to be paid off),
* **total_rec_late_fee**: also leaks data from the future, (after the loan already started to be paid off),
* **recoveries**: also leaks data from the future, (after the loan already started to be paid off),
* **collection_recovery_fee**: also leaks data from the future, (after the loan already started to be paid off),
* **last_pymnt_d**: also leaks data from the future, (after the loan already started to be paid off),
* **last_pymnt_amnt**: also leaks data from the future, (after the loan already started to be paid off).

In [15]:
loans_2007 = loans_2007.drop(["total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt"],axis=1)

In [16]:
print(loans_2007.iloc[0])

loan_amnt                            5000
term                            36 months
int_rate                           10.65%
installment                        162.87
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
inq_last_6mths                          1
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                     f
last_credit_pull_d               Jun-2016
collections_12_mths_ex_med              0
policy_code                             1
application_type               INDIVIDUAL
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
Name: 0, dtype: object

In [17]:
loans_2007.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [18]:
loans_2007.shape

(42538, 32)

-----------------------------------------------------------------------
## Target column:
So far, we have explored the dataset. Now we need to decide the *Target column*. Our problem statement is:

**PROBLEM STATEMENT** : `Can we build a machine learning model that can accurately predict if a borrower will pay off their loan on time or not?`

In [19]:
loans_2007["loan_status"].value_counts(dropna=False)

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
NaN                                                        3
Name: loan_status, dtype: int64

We should use `loan_status` as our target column as it tells if the loan was fully paid or it holds any other status. Also this column contains text type data , so we need to convert it to numerical type so as to use for training a model. Gotcha!

We can see that we have 9 different values for "loan_status". But as an inverstors perspective, we need to target on loans that are either fully paid or charged off. So we will be removing other column values, resulting the problem converted to **binary classification**. We will remove those rows and then assign 0 and 1 to remaining category values in "loan_status" column.

In [20]:
#preserving only required values
bool_ = (loans_2007["loan_status"]=="Fully Paid") | (loans_2007["loan_status"]=="Charged Off")
loans_2007 = loans_2007[bool_]
loans_2007["loan_status"].value_counts()

Fully Paid     33136
Charged Off     5634
Name: loan_status, dtype: int64

In [21]:
#converting values to numerical type
loans_2007["loan_status"] = pd.Categorical(loans_2007["loan_status"]).codes

In [22]:
loans_2007["loan_status"].value_counts()

1    33136
0     5634
Name: loan_status, dtype: int64

------------------------------------------------------------------
## Analysing for columns with unique values:
We need to remove those columns which contain all same values as that will not bring much variance to prediction.

In [23]:
drop_cols = list()
col_list = loans_2007.columns
for col in col_list:
    col_series = loans_2007[col].dropna()
    length = len(col_series.unique())
    if length==1:
        drop_cols.append(col)
drop_cols

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [24]:
loans_2007 = loans_2007.drop(drop_cols,axis=1)

In [25]:
loans_2007.shape

(38770, 23)

#### Saving the dataset as csv file:

In [26]:
loans_2007.to_csv("filtered_loans",index=False)

--------------------------------------------------------------
# So Far...
* We initially had dataset of shape (42538,52) and then we analysed and cleaned it to bring it to the shape (38770,23)
* We removed columns that may leak information or the columns that aren't useful for our modelling purpose
* We decided our target column and decided to focus on modelling efforts based on Binary Classification
---------------------------------------------------------------------------

### PART 2: Features Preparation
Machine learning model that can accurately predict if a borrower will pay off their loan on time or not?

In this part we will mainly focus on preparing features. We will prepare data for machine learning by focusing on handling missing values, converting categorical values to numeric values and removing any extraneous columns we encounter. We need to convert categorical type columns to numerical type because most of the Machine Learning algorithms assume data is numeric and contains no missing values.If this requirement isn't fulfilled then sklearn will raise error when working with models like LinearRegression and LogisticRegression.

In [27]:
import pandas as pd
loans = pd.read_csv("filtered_loans.csv")

In [28]:
loans.isnull().sum()

loan_amnt                  0
term                       0
int_rate                   0
installment                0
emp_length              1036
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                     11
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

In [29]:
#dropping "pub_rec_bankruptcies" column as it contains more than 1% null values
loans = loans.drop(["pub_rec_bankruptcies"],axis=1)
#removing rows with any null values
loans = loans.dropna()

In [30]:
loans.isnull().sum()

loan_amnt              0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
loan_status            0
purpose                0
title                  0
addr_state             0
dti                    0
delinq_2yrs            0
earliest_cr_line       0
inq_last_6mths         0
open_acc               0
pub_rec                0
revol_bal              0
revol_util             0
total_acc              0
last_credit_pull_d     0
dtype: int64

In [31]:
#to print datatype of columns combined
loans.dtypes.value_counts()

object     11
float64    10
int64       1
dtype: int64

### Creating separate dataframe for object type columns:

In [32]:
object_columns_df = loans.select_dtypes(include=["object"])

In [33]:
object_columns_df.head()

,term,int_rate,emp_length,home_ownership,verification_status,purpose,title,addr_state,earliest_cr_line,revol_util,last_credit_pull_d
0,36 months,10.65%,10+ years,RENT,Verified,credit_card,Computer,AZ,Jan-1985,83.7%,Jun-2016
1,60 months,15.27%,< 1 year,RENT,Source Verified,car,bike,GA,Apr-1999,9.4%,Sep-2013
2,36 months,15.96%,10+ years,RENT,Not Verified,small_business,real estate business,IL,Nov-2001,98.5%,Jun-2016
3,36 months,13.49%,10+ years,RENT,Source Verified,other,personel,CA,Feb-1996,21%,Apr-2016
4,36 months,7.90%,3 years,RENT,Source Verified,wedding,My wedding loan I promise to pay back,AZ,Nov-2004,28.3%,Jan-2016

* int_rate and revol_util are numeric columns, we can see above.

* earliest_cr_line and last_credit_pull_d columns contain date and hence need a good feature engineering. So we will drop them as well

In [34]:
#printing unique value count in each above column
for col in object_columns_df.columns.drop(["int_rate","revol_util","earliest_cr_line","last_credit_pull_d"]):
    print(object_columns_df[col].value_counts())

 36 months    28234
 60 months     9441
Name: term, dtype: int64
10+ years    8545
< 1 year     4513
2 years      4303
3 years      4022
4 years      3353
5 years      3202
1 year       3176
6 years      2177
7 years      1714
8 years      1442
9 years      1228
Name: emp_length, dtype: int64
RENT        18112
MORTGAGE    16686
OWN          2778
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
Not Verified       16281
Verified           11856
Source Verified     9538
Name: verification_status, dtype: int64
debt_consolidation    17751
credit_card            4911
other                  3711
home_improvement       2808
major_purchase         2083
small_business         1719
car                    1459
wedding                 916
medical                 655
moving                  552
house                   356
vacation                348
educational             312
renewable_energy         94
Name: purpose, dtype: int64
Debt Consolidation             2068
Debt Consolidation Loan        1599
Personal Loan                   624
Consolidation                   488
debt consolidation              466
                               ...
Credit Card Payment - Re-fi       1
Mr. Joe                           1
Home Theater Completion           1
Bridge to new contract            1
Freedom to Me                     1
Name: title, Length: 18881, dtype: int64
CA    6776
NY    3614
FL    2704
TX    2613
NJ    1776
IL    1447
PA    1442
VA    1347
GA    1323
MA    1272
OH    1149
MD    1008
AZ     807
WA     788
CO     748
NC     729
CT     711
MI     678
MO     648
MN     581
NV     466
SC     454
WI     427
OR     422
AL     420
LA     420
KY     311
OK     285
KS     249
UT     249
AR     229
DC     209
RI     194
NM     180
WV     164
HI     162
NH     157
DE     110
MT      77
AK      76
WY      76
SD      60
VT      53
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

### Doing further analysis based on columns:

In [35]:
loans["purpose"].value_counts()

debt_consolidation    17751
credit_card            4911
other                  3711
home_improvement       2808
major_purchase         2083
small_business         1719
car                    1459
wedding                 916
medical                 655
moving                  552
house                   356
vacation                348
educational             312
renewable_energy         94
Name: purpose, dtype: int64

In [36]:
loans["title"].value_counts()

Debt Consolidation             2068
Debt Consolidation Loan        1599
Personal Loan                   624
Consolidation                   488
debt consolidation              466
                               ...
Credit Card Payment - Re-fi       1
Mr. Joe                           1
Home Theater Completion           1
Bridge to new contract            1
Freedom to Me                     1
Name: title, Length: 18881, dtype: int64

It seems like **purpose** and **title** contains overlapping information. So we will keep one of them. Here we will keep **purpose** column as it contains less descreet values.

### Further cleaning begins:

In [37]:
cols_to_drop = ["last_credit_pull_d", "addr_state", "title", "earliest_cr_line"]
loans = loans.drop(cols_to_drop,axis=1)

In [38]:
#converting `int_rate` and `revol_util` to numeric type
loans["int_rate"] =loans["int_rate"].str.rstrip('%').astype(float)
loans["revol_util"] = loans["revol_util"].str.rstrip('%').astype(float)

In [39]:
loans["emp_length"].value_counts()

10+ years    8545
< 1 year     4513
2 years      4303
3 years      4022
4 years      3353
5 years      3202
1 year       3176
6 years      2177
7 years      1714
8 years      1442
9 years      1228
Name: emp_length, dtype: int64

In [40]:
mapping = {"emp_length":{
    "10+ years":10,
"< 1 year"     :0,
"2 years"      :2,
"3 years"      :3,
"4 years"      :4,
"5 years"      :5,
"1 year"       :1,
"6 years"      :6,
"7 years"      :7,
"8 years"      :8,
"9 years"      :9,
"n/a"          :0
}}
loans=loans.replace(mapping)

In [41]:
loans.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc
0,5000.0,36 months,10.65,162.87,10,RENT,24000.0,Verified,1,credit_card,27.65,0.0,1.0,3.0,0.0,13648.0,83.7,9.0
1,2500.0,60 months,15.27,59.83,0,RENT,30000.0,Source Verified,0,car,1.00,0.0,5.0,3.0,0.0,1687.0,9.4,4.0
2,2400.0,36 months,15.96,84.33,10,RENT,12252.0,Not Verified,1,small_business,8.72,0.0,2.0,2.0,0.0,2956.0,98.5,10.0
3,10000.0,36 months,13.49,339.31,10,RENT,49200.0,Source Verified,1,other,20.00,0.0,1.0,10.0,0.0,5598.0,21.0,37.0
4,5000.0,36 months,7.90,156.46,3,RENT,36000.0,Source Verified,1,wedding,11.20,0.0,3.0,9.0,0.0,7963.0,28.3,12.0

In [42]:
loans.shape

(37675, 18)

#### Working on home_ownership, verification_status, purpose, and term:
Encoding these columns as dummy columns.

In [43]:
col_list = ["home_ownership", "verification_status", "purpose", "term"]
for col in col_list:
    dummy = pd.get_dummies(loans[col],prefix=col)
    loans = pd.concat([loans,dummy],axis=1)
    loans = loans.drop(col,axis=1)

In [44]:
loans.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,27.65,0.0,1.0,3.0,0.0,13648.0,83.7,9.0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,2500.0,15.27,59.83,0,30000.0,0,1.00,0.0,5.0,3.0,0.0,1687.0,9.4,4.0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,2400.0,15.96,84.33,10,12252.0,1,8.72,0.0,2.0,2.0,0.0,2956.0,98.5,10.0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
3,10000.0,13.49,339.31,10,49200.0,1,20.00,0.0,1.0,10.0,0.0,5598.0,21.0,37.0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
4,5000.0,7.90,156.46,3,36000.0,1,11.20,0.0,3.0,9.0,0.0,7963.0,28.3,12.0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0

In [45]:
loans.dtypes.value_counts()

uint8      24
float64    12
int64       1
object      1
dtype: int64

So we have succesful converted all the columns to **Numerical** type columns.Let's save this dataframe.

In [46]:
loans.to_csv("loans.csv",index=False)

## So far..
* We have converted necessary columns to numerical type.
* Removed columns which provide overlapping information
* Added new features using dummy variables
* Cleaned dataset by removing null values
* Mapped category values to specific integer

We have done a lot of preprocessing till now. Dataset looks good and cleaned. We will now start working on Machine Learning models in next part.

`PART 3: Applying ML Algorithm`
--------------------------------------------
# Machine learning model that can accurately predict if a borrower will pay 


# off their loan on time or not?
Till now we cleaned data. Our eventual goal is to generate features from data, which we can feed into Machine Learning algorithm. The algorithm will make predictions whether or not loan will be paid off in time or not, which is contained in `loan_status` column of dataset. We prepared data, we cleaned the data, we removed columns containing data that can result into leakage, columns which have zero variance and columns which had redundant information. We also cleaned columns with formatting issues and converted categorical columns to dummy variable.

------------------------------------------------

#### class imbalance:
We know there is class imbalance as number of `1` in **loan_status** column is 6x more than number of `0`. We need to be aware of that as it may impact prediction. Machine learning models may show high accuracy in such case for training set but they aren't actually learning anything from train set.

In [47]:
import pandas as pd
loans = pd.read_csv("loans.csv")

In [48]:
loans.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,27.65,0.0,1.0,3.0,0.0,13648.0,83.7,9.0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,2500.0,15.27,59.83,0,30000.0,0,1.00,0.0,5.0,3.0,0.0,1687.0,9.4,4.0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,2400.0,15.96,84.33,10,12252.0,1,8.72,0.0,2.0,2.0,0.0,2956.0,98.5,10.0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
3,10000.0,13.49,339.31,10,49200.0,1,20.00,0.0,1.0,10.0,0.0,5598.0,21.0,37.0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
4,5000.0,7.90,156.46,3,36000.0,1,11.20,0.0,3.0,9.0,0.0,7963.0,28.3,12.0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0

In [49]:
loans.corr()["loan_status"].sort_values()

int_rate                              -0.210814
term_ 60 months                       -0.171194
revol_util                            -0.099547
purpose_small_business                -0.078515
inq_last_6mths                        -0.070536
loan_amnt                             -0.062140
pub_rec                               -0.050193
dti                                   -0.042815
verification_status_Verified          -0.041976
installment                           -0.030309
purpose_debt_consolidation            -0.021098
home_ownership_RENT                   -0.020678
delinq_2yrs                           -0.019279
emp_length                            -0.016195
purpose_other                         -0.015565
revol_bal                             -0.007141
purpose_renewable_energy              -0.006921
home_ownership_OTHER                  -0.006418
purpose_house                         -0.006330
purpose_educational                   -0.006167
verification_status_Source Verified   -0.005351
purpose_medical                       -0.003660
purpose_moving                        -0.003182
home_ownership_OWN                    -0.000475
purpose_vacation                      -0.000176
home_ownership_NONE                    0.003646
open_acc                               0.005667
purpose_wedding                        0.019208
total_acc                              0.020318
purpose_home_improvement               0.021261
purpose_car                            0.021491
home_ownership_MORTGAGE                0.021635
purpose_major_purchase                 0.029175
annual_inc                             0.038175
purpose_credit_card                    0.043337
verification_status_Not Verified       0.044048
term_ 36 months                        0.171194
loan_status                            1.000000
Name: loan_status, dtype: float64

We can see above that there is no major correlation between any specific column and target column.

## Selecting Error Metric:
Our main focus should be on capturing true positive and true negative. We can adjust with false negative but we should totally **avoid** false positive. As false positive will result in loss of money.

For error metric measure, we can't use accuracy, as it may result in loss to us. We need high true positive rate and low false negative rate.

#### Experimenting with False Positive Ratio and False Negative Ratio

In [50]:
import pandas as pd
import numpy

# Predict that all loans will be paid off on time,so setting all the values of predictions to 1
#predictions = pd.Series(numpy.ones(loans.shape[0]))
predictions = pd.Series(numpy.ones(loans.shape[0]))
#fpr = fp/fp+tn
filter_fp = (predictions==1) & (loans["loan_status"]==0)
filter_tn = (predictions==0) & (loans["loan_status"]==0)
#tpr = tp/tp+fn
filter_tp = (predictions==1) & (loans["loan_status"]==1)
filter_fn = (predictions==0) & (loans["loan_status"]==1)

fpr = len(loans[filter_fp])/(len(loans[filter_fp])+len(loans[filter_tn]))
tpr = len(loans[filter_tp])/(len(loans[filter_tp])+len(loans[filter_fn]))

In [51]:
fpr, tpr

(1.0, 1.0)

We can notice that both the rates are 1 and 1. True positive rate is "1" implies that we correctly identified good loans. But False Positive rate is "1" implies we incorrectly identified bad loans.

We have already converted all the columns to Numeric type, so we can easily apply all the machine learning algorithms. Applying machine learning algorithms:

### Logistic Regression:

In [52]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression()
features = loans.drop(["loan_status"],axis=1)
target = loans["loan_status"]
logistic_model.fit(features,target)
predictions = logistic_model.predict(features)

C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [53]:
pd.Series(predictions).value_counts()

1    37611
0       64
dtype: int64

This model seems overfitting as we are using training set as test set. Let's implement K-Fold cross validation.
#### K-Fold

In [54]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
features = loans.drop(["loan_status"],axis=1)
target = loans["loan_status"]
logistic_model = LogisticRegression()
predictions = cross_val_predict(logistic_model,features,target,cv=3)
predictions = pd.Series(predictions)

#True positive rate
tp_filter = (loans["loan_status"]==1) & (predictions==1)
fn_filter = (loans["loan_status"]==1) & (predictions==0)
tpr = len(loans[tp_filter])/(len(loans[tp_filter]) +len(loans[fn_filter]) )

#False positive rate
fp_filter = (loans["loan_status"]==0) & (predictions==1)
tn_filter = (loans["loan_status"]==0) & (predictions==0)
fpr = len(loans[fp_filter])/(len(loans[fp_filter]) +len(loans[tn_filter]) )

(tpr,fpr)

C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

(0.9987920460880877, 0.9962887363147152)

Both *True positive rate* and *False positive rate* are approximately 1, which isn't a good sign. We need to find a way to remove imbalance and ensuring equal participation of both the type of predictions.

#### using parameter: class_weight = balanced

In [56]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
features = loans.drop(["loan_status"],axis=1)
target = loans["loan_status"]
#-----------------change is done here
logistic_model = LogisticRegression(class_weight="balanced")
#----------------------------------------
predictions = cross_val_predict(logistic_model,features,target,cv=3)
predictions = pd.Series(predictions)

#True positive rate
tp_filter = (loans["loan_status"]==1) & (predictions==1)
fn_filter = (loans["loan_status"]==1) & (predictions==0)
tpr = len(loans[tp_filter])/(len(loans[tp_filter]) +len(loans[fn_filter]) )

#False positive rate
fp_filter = (loans["loan_status"]==0) & (predictions==1)
tn_filter = (loans["loan_status"]==0) & (predictions==0)
fpr = len(loans[fp_filter])/(len(loans[fp_filter]) +len(loans[tn_filter]) )

(tpr,fpr)

C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

(0.6713436164281732, 0.3913527556132863)

We significantly improved false positive rate in the last screen by **balancing** the classes, which reduced true positive rate. Our true positive rate is now 67% and our false positive rate is around 40%. From conservative inverstor's point of view, its reassuring that the false positive rate is lower because it mean we'll be able to do a better job at avoiding bad loans than if we funded everything. However, we'd only ever decide to fund 67% of the total loans (true positive rate). 

We can try to lower false positive rate further by assigning harsher penalty for misclassifying negative class. While setting `class_weight` to balanced will automatically set a penalty based on number of `1s` and `0s` in the column.

#### Specifying penalty manually:

In [57]:
penalty = {0:10,1:1}
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
features = loans.drop(["loan_status"],axis=1)
target = loans["loan_status"]
#-----------------change is done here
logistic_model = LogisticRegression(class_weight=penalty)
#----------------------------------------
predictions = cross_val_predict(logistic_model,features,target,cv=3)
predictions = pd.Series(predictions)

#True positive rate
tp_filter = (loans["loan_status"]==1) & (predictions==1)
fn_filter = (loans["loan_status"]==1) & (predictions==0)
tpr = len(loans[tp_filter])/(len(loans[tp_filter]) +len(loans[fn_filter]) )

#False positive rate
fp_filter = (loans["loan_status"]==0) & (predictions==1)
tn_filter = (loans["loan_status"]==0) & (predictions==0)
fpr = len(loans[fp_filter])/(len(loans[fp_filter]) +len(loans[tn_filter]) )

(tpr,fpr)

C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\1202565\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

(0.24862169361333086, 0.0946372239747634)

Specifying manual penalties lowered the false positive rate to 9.5% and hence lowered our risk. Note that this comes at the expense of true positive rate. We we have fewer false positives, we are also missing opportunities to fund more loans and potentially make more money.

We can tweak penalties further.But now let's use `Random Forests`.
Random Forests are able to work with non linear data and learn complex conditionals.Logistic Regression are only able to work with Linear data.

### Random Forest:

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_predict
features = loans.drop(["loan_status"],axis=1)
target = loans["loan_status"]
#-----------------change is done here
model = RandomForestClassifier(class_weight="balanced",random_state=1)
#----------------------------------------
predictions = cross_val_predict(model,features,target,cv=3)
predictions = pd.Series(predictions)

#True positive rate
tp_filter = (loans["loan_status"]==1) & (predictions==1)
fn_filter = (loans["loan_status"]==1) & (predictions==0)
tpr = len(loans[tp_filter])/(len(loans[tp_filter]) +len(loans[fn_filter]) )

#False positive rate
fp_filter = (loans["loan_status"]==0) & (predictions==1)
tn_filter = (loans["loan_status"]==0) & (predictions==0)
fpr = len(loans[fp_filter])/(len(loans[fp_filter]) +len(loans[tn_filter]) )

(tpr,fpr)

## Conclusion:
Using random forest classifier ddn't improve our false positive rate. The model is likely weighting too heavily on `1` class and still predicting `1s`.We can further apply penalties.

Our best model so far had true positive rate of `25%` and false positive rate of `9%`.

We can futher tune our models for better predictions.